* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #75d973;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

.login-btn a {
  color: white;
}

body {
  /* font-family: "Courier New", Courier, monospace; */
  position: relative;
}

.ellipse {
  position: absolute;
  right: 0;
  top: -25px;
  opacity: 0.4;
  z-index: -10;
}

.ellipse2 {
  position: absolute;
  right: 0;
  bottom: -105px;
}

.nav-landing {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
}

.nav-brand {
  min-width: 30%;
  font-size: 48px;
  padding-left: 60px;
  color: var(--main-color);
  font-weight: 600;
}

.nav-ul-div {
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-ul {
  list-style: none;
  display: flex;
}

.nav-li {
  margin-right: 100px;
  font-size: 32px;
  font-weight: 500;
}

.nav-btn-div {
  width: 20%;
  align-items: flex-end;
}

.nav-btn {
  border: none;
  cursor: pointer;
}

.login-btn {
  color: #ffffff;
  background-color: #75d973;
  border-radius: 17px;
  padding: 10px 25px 10px 25px;
  font-size: 25px;
  font-weight: 600;
}

.hero-landing {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 120px;
  margin-bottom: 100px;
}

.hero-landing-img {
  object-fit: cover;
}

.hero-landing h1 {
  font-size: 56px;
  color: var(--main-color);
  margin: 127px 0 42px;
  font-weight: 600;
}

.hero-landing p {
  font-size: 24px;
  color: #000000;
  opacity: 0.8;
  margin-bottom: 60px;
  text-wrap: wrap;
  font-weight: 600;
}

.line {
  width: 100%;
  height: 10px;
  display: block;
  background-color: #a4ffc9;
  border: 0;
}

.about-landing {
  margin-top: 300px;
  text-align: center;
}

.tag {
  font-size: 80px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 100px;
}

.tag span {
  background-color: #75d973;
  border: none;
  color: black;
  padding: 10px 100px;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
  opacity: 0.8;
}

.about-landing p {
  font-size: 46px;
  color: #000000;
  opacity: 0.8;
  margin-bottom: 100px;
}

.about-landing img {
  object-fit: cover;
}

.nasa-api {
  text-align: center;
  margin: 200px 0 50px 0;
}

.feature-landing {
  margin-top: 300px;
  text-align: center;
}

.feature-span span {
  background-color: #ffffff;
  font-size: 120px;
  opacity: 0.7;
}

.feature-landing > p {
  text-align: center;
  font-size: 40px;
  padding: 50px 0px;
  background-color: #75d973;
  margin-bottom: 200px;
  font-weight: 600;
  color: #000000;
  opacity: 0.8;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  width: 90%;
}

.feature-s {
  display: flex;
  margin-bottom: 100px;
}

.feature-l img {
  margin-left: 50px;
}

.feature-img {
  width: 30%;
}

.feature-img img {
  width: 80%;
}
.feature-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 70px;
}

.feature-text h1 {
  font-size: 60px;
}

.feature-text p {
  font-size: 30px;
  padding-top: 50px;
  width: 70%;
}

footer {
  text-align: center;
  font-size: 60px;
  max-height: 200px;
  background-color: #75d973;
  padding: 40px 0px;
  opacity: 0.8;
}
