/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --btn: #75d973;
  --text-color-primary: #000000;
  --text-color-secondary: #6a6a6a;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.container-login {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
}

.right-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-text {
}

.login-text h1 {
  font-size: 36px;
  color: var(--text-color-primary);
}

.social {
  padding: 20px 0 10px 0;
}

span {
  display: block;
  font-size: ;
  color: var(--text-color-secondary);
  padding-bottom: 10px;
}

.login-text p {
  font-size: ;
  color: var(--text-color-secondary);
  padding-bottom: 20px;
}

img {
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
}

i img {
  height: 4vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  border: none;
}

.btn-login {
  padding: 15px 160px 15px 160px;
  background-color: var(--btn);
  color: #fff;
  border-radius: 17px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
  width: 40%;
  border: 2px solid var(--text-color-secondary);
}

input[type="Email"] {
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
  width: 40%;
  border: 2px solid var(--text-color-secondary);
}

input[type="password"] {
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
  width: 40%;
  border: 2px solid var(--text-color-secondary);
}
